server {
    listen 80;
    listen [::]:80;

    server_name i4gic2024.staging;

    root /var/www/html/staging/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # pass PHP scripts on Nginx to FastCGI (PHP-FPM) server
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php8.3-fpm.sock;
    }

    # deny access to Apache .htaccess on Nginx with PHP
    location ~ /\.ht {
        deny all;
    }
}