[defaults]
host_key_checking = False
inventory = inventory.ini
timeout = 30
command_warnings = False
gathering = smart
fact_caching = memory
allow_world_readable_tmpfiles = True

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ControlMaster=auto
pipelining = True
